<h1>Hi</h1>
<% if @tasks.empty? %> <h2>Tasks list is empty</h2>
<% else %>
    <table>
      <tr>
        <th> Id </th>
        <th> Text </th>
        <th> Actual </th>
        <th> Edit </th>
        <th> Remove </th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.id %></td>
          <td><%= task.text %></td>
          <td><%= task.actual %></td>
          <td><%= link_to 'edit', edit_task_path(task) %></td>
          <td><%= link_to 'remove', task_path(task), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </table>
<% end %>
