<% if @tasks.empty? %>
    <h2>Please enter your search query:</h2>
    <form action="/tasks/search" method="get">
      <label for="search_key">Search word:</label>
      <input type="text" name="search_key" id="search_key">
      <button type="submit">Search...</button>
    </form>
<% else %>
    <h1>Search results</h1>
    <table border="1">
      <tr>
        <th>Id</th>
        <th>Text</th>
        <th>Actual</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
      <% @tasks.each do |task| %>
          <tr>
            <td><%= task.id %></td>
            <td><%= task.text %></td>
            <td><%= task.actual %></td>
            <td><%= link_to 'edit', edit_task_path(task) %></td>
            <td><%= link_to 'remove', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </table>
<% end %>